@media screen and (min-width: 1280px)

  $gutter = 36px

  $header-height = 174px
  $footer-height = 68px

  grid-maker(100%, $gutter, xl)

  grid-maker(false, $gutter, xl-9, 9)

  #main-content
    min-height: calc('100vh - ' + ($header-height + $footer-height))

  #welcome-row
    justify-content: space-around

  .hide-landscape,
  .hide-mobile.hide-portrait.hide-landscape
    display: initial
