$gutter = 10px

$margin-micro = 10px
$margin-tiny = 20px
$margin-small = 30px
$margin-basic = 60px
$margin-mid = 80px
$margin-large = 120px

$font-size-small = 11px
$font-size-basic = 14px
$font-size-large = 18px

$border-style = 1px solid $color-grey-mid
$border-radius = 3px

$header-height = 138px
$footer-height = 156px

grid-maker(95%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, false, $font-size-large, false, $font-size-small)

.font-size-ascii
  font-size: 13px

.color-grey-mid
  color: $color-grey-mid

.container
  max-width: 1280px

.code-holder
  background: $color-grey-light
  border: $border-style
  border-radius: $border-radius

ol li
  margin-left: 1.5em
  list-style-type: decimal

.button-link-style
  appearance: none
  background: transparent
  border: none
  text-decoration: underline
  cursor: pointer

input, textarea
  appearance: none
  width: 100% !important
  height: auto !important
  background: transparent
  border: $border-style
  border-radius: $border-radius
  padding: $margin-micro ($margin-micro * 1.5)
  font-size: $font-size-mid
  resize: none 

header.header
  padding-bottom: $margin-basic

.border-top
  border-top: $border-style

#main-content
  min-height: calc('100vh - ' + ($header-height + $footer-height))

#link-forgot-password
  position: absolute
  top: $margin-micro
  right: $margin-micro * 1.5

input:focus + a#link-forgot-password
  display: none

#twitter-widget-holder
  display: block
  border: $border-style
  border-radius: $border-radius
  padding: $margin-tiny ($margin-tiny * .75)
  &:hover
    #twitter-handle
      text-decoration: underline

#footer-row
  padding-top: $margin-mid

#form-odie-subdomain
  order: 1
#form-odie-doc-url
  order: 2
#form-odie-title
  order: 3
#form-odie-bg-color
  order: 4
#form-odie-description
  order: 5

.hide-mobile
  display: none
