$gutter = 10px

$margin-micro = 10px
$margin-tiny = 20px
$margin-small = 30px
$margin-basic = 60px
$margin-mid = 80px
$margin-large = 120px

$font-size-small = 11px
$font-size-basic = 14px
$font-size-large = 18px

$border-style = 1px solid $color-grey-mid
$border-radius = 3px

$header-height = 163px
$footer-height = 156px

$color-error = rgba(240, 0, 0, 1)
$color-error-light = rgba(240, 151, 151, 1)

$color-tooltip-default = rgba(151, 151, 151, .7)
$color-tooltip-error = rgba(240, 0, 0, .7)

grid-maker(95%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, false, $font-size-large, false, $font-size-small)

.font-size-ascii
  font-size: 13px

.color-grey-mid
  color: $color-grey-mid

.color-error
  color: $color-error

.hide-mobile
  display: none

.code-holder
  background: $color-grey-light
  border: $border-style
  border-radius: $border-radius

ol li
  margin-left: 1.5em
  list-style-type: decimal

.border-top
  border-top: $border-style

.icon
  height: 26px

html, body
  height: 100%

#main-content
  min-height: calc('100vh - ' + ($header-height + $footer-height))

.container
  max-width: 1280px

// ******************************************************

// FORMS

button
  appearance: none
  background: transparent
  border: none
  cursor: pointer

.button-link-style
  text-decoration: underline

input, textarea
  appearance: none
  width: 100% !important
  height: auto !important
  background: transparent
  border: $border-style
  border-radius: $border-radius
  padding: $margin-micro ($margin-micro * 1.5)
  font-size: $font-size-mid
  resize: none
  &.input-valid-false
    border-color: $color-error
    &:focus
      outline-color: $color-error-light

.hide-input-caret
  color: transparent
  text-shadow: 0 0 0 $color-black

// ******************************************************

// HEADER

header.header
  padding-bottom: $margin-basic

// ******************************************************

// FOOTER

#footer-row
  padding-top: $margin-mid

// ******************************************************

// ODIE VIEWER

#viewer
  width: 95%
  max-width: 1000px
  margin: 0 auto

// ******************************************************

// WELCOME

#twitter-widget-holder
  display: block
  border: $border-style
  border-radius: $border-radius
  padding: $margin-tiny ($margin-tiny * .75)
  
#twitter-handle
  text-decoration: underline

// ******************************************************

// LOGIN

#link-forgot-password
  position: absolute
  top: $margin-micro
  right: $margin-micro * 1.5

input:focus + a#link-forgot-password
  display: none

// ******************************************************

// ODIE FORM

#form-odie-subdomain
  order: 1
#form-odie-doc-url
  order: 2
#form-odie-title
  order: 3
#form-odie-bg-color
  order: 4
#form-odie-description
  order: 5

// ******************************************************

// COLORPICKER

.colorPickerHolder
  position: absolute
  left: 10%
  top: -50%
  z-index: 100
  input
    padding: 1em 0

.colorPickerCover
  position: fixed
  top: 0px
  right: 0px
  bottom: 0px
  left: 0px

.color-input-swatch
  position: absolute
  top: $margin-micro
  right: $margin-small
  width: 1.3em
  height: 1.3em
  border-radius: $border-radius
  border: 1px solid $color-grey-mid

// ******************************************************

// TOOLTIP

.tooltip-holder
  width: 100%
  position: absolute
  top: calc('-1em - ' + $margin-tiny)
  left: 0

.tooltip
  padding: ($margin-micro * .5) $margin-micro
  background-color: $color-tooltip-default
  color: $color-black
  border-radius: $border-radius
  span:before
    content:''
    display:block
    width:0
    height:0
    position:absolute
    border: $margin-micro solid
    border-color: transparent
    border-top-color: $color-tooltip-default
    left: $margin-micro
    right: $margin-micro
    margin: 0 auto
    bottom:-($margin-tiny)

.tooltip-error
  background-color: $color-tooltip-error
  color: $color-white
  span:before
    border-top-color: $color-tooltip-error
