@media screen and (min-width: 720px)
  $gutter = 30px

  $header-height = 174px
  $footer-height = 68px

  grid-maker( 95%, $gutter, m)

  header.header
    padding-bottom: $margin-large

  #main-content
    min-height: calc('100vh - ' + ($header-height + $footer-height))

  #header-welcome
    text-align: center

  #welcome-row
    justify-content: center

  #footer-row
    justify-content: space-between
    padding-top: $margin-small

  #form-odie-subdomain
    order: 1
  #form-odie-title
    order: 2
  #form-odie-bg-color
    order: 3
  #form-odie-doc-url
    order: 4
  #form-odie-description
    order: 5

  .hide-mobile
    display: initial

  .hide-portrait,
  .hide-mobile.hide-portrait
    display: none

  .colorPickerHolder
    right: 0
    left: auto
    top: 100%
