@media screen and (min-width: 1024px)

  $gutter = 40px

  grid-maker(97%, $gutter, l)

  .hide-portrait,
  .hide-mobile.hide-portrait
    display: initial

  .hide-landscape,
  .hide-mobile.hide-portrait.hide-landscape
    display: none
